.faq {
  padding: 70px 0 70px 0;

  @include vp-768 {
    padding: 60px 0 60px 0;
  }

  @include vp-1366 {
    padding: 100px 0 100px 0;
  }
}

.faq__inner-wrap {
  text-align: center;

  @include vp-1366 {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(3, min-content);
    column-gap: 40px;
  }
}

.faq__title {
  @include title(32px,600,100%);
  font-family: $primary-font;
  margin: 0 0 35px 0;

  @include vp-768 {
    font-size: 42px;
    margin: 0 0 45px 0;
  }

  @include vp-1366 {
    text-align: left;
    font-size: 54px;
    margin: 0 0 50px 0;
    grid-column: 1 / -1;
  }
}

.faq__tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 35px;

  @include vp-768 {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 45px;
  }

  @include vp-1366 {
    grid-template-columns: repeat(1, 260px);
    grid-template-rows: repeat(4, 54px);
    justify-items: start;
    justify-items: start;
    margin: 0;
  }
}

.faq__tablink {
  min-width: 140px;
  padding: 14px 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  background-color: transparent;
  border: 1px solid rgba($primary, .2);
  cursor: pointer;
  transition: $transition;

  @include vp-768 {
    min-width: 162px;
    font-size: 18px;
    padding: 17px 23px;
  }

  @include vp-1366 {
    width: 100%;
  }

  &:hover {
    border-color: $additional-blue-02;
  }

  &:focus {
    outline: none;
    border-color: $additional-blue-02;
  }

  &:disabled {
    color:C8C9CC;
    border-color: rgba($additional-blue-02, .2);
  }

  &--current {
    color: $absolute-white;
    background-image: linear-gradient(90deg, #ed0233 0%, #003eb7 100%);
    border-image-source: linear-gradient(90deg, #ed0233 0%, #003eb7 100%);
    border-image-slice: 1;
  }
}

.faq__content-list {
  margin: 0;
  padding: 0;
}

.faq__content-item {
  position: relative;
  text-align: left;
  border-top: 1px solid #74819c;
  list-style: none;
  padding: 20px 0 20px 0;

  &:last-child {
    border-bottom: 1px solid #74819C;

    @include vp-768 {
      padding: 23px 0 23px 0;

      br {
        display: block;
      }
    }

    @include vp-1366 {
      padding: 30px 0 30px 0;
      br {
        display: none;
      }
    }
  }

  @include vp-768 {
        padding: 32px 0 32px 0;
  }

  @include vp-1366 {
    padding: 30px 0 30px 0;
  }

  &--active {
    @include vp-768 {
      padding: 32px 0 23px 0;
    }

    @include vp-1366 {
      padding: 29px 0 23px 0;
    }

    p {
      margin: 20px 0 0 0;

      @include vp-1366 {
        margin: 32px 0 0 0;
      }
    }
  }

  h3 {
    @include title(20px,400,100%);
    max-width: 238px;
    margin: 0;

    @include vp-768 {
      width: auto;
      max-width: calc(678px - 40px);
      font-weight: 400;
      font-size: 22px;
    }

    @include vp-1366 {
      max-width: calc(860px - 40px);
      font-size: 24px;
    }

    br {
      @include vp-768 {
        display: none;
      }
    }
  }

  p {
    width: 238px;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;

    @include vp-768 {
      width: 559px;
      font-size: 18px;
      line-height: 133%;
    }

    @include vp-1366 {
      width: 606px;
    }

    br {
      @include vp-768 {
        display: none;
      }
    }
  }
}

.faq__accordion-button {
  position: absolute;
  top: 25px;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $primary;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $additional-blue-02;

    &::after,
    &::before {
      background-color: $absolute-white;
    }
  }

  &:focus {
    outline: none;
    border-color: $additional-blue-02;
    background-color: #74819C;

    &::after,
    &::before {
      background-color: $absolute-white;
    }
  }

  @include vp-768 {
    width: 40px;
    height: 40px;
    top: 23px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 7px;
    width: 14px;
    height: 1px;
    background-color: $primary;

    @include vp-768 {
      width: 20px;
      left: 9px;
      top: 50%;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  &--active {
    background-color: $additional-blue-02;

    &::before,
    &::after {
      background-color: $absolute-white;
    }

    &::after {
      transform: none;
    }
  }

  &--crct-position {
    top: 35px;

    @include vp-768 {
      top: 24px;
    }
  }
}
