.faq {
  padding-top: 70px;
  padding-bottom: 70px;
}

.faq__inner-wrap {
  text-align: center;
}

.faq__title {
  @include title(32px,600,100%);
  font-family: $primary-font;
  margin: 0 0 35px 0;
}

.faq__tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 35px;
}

.faq__tablink {
  padding: 14px 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  background-color: transparent;
  border: 1px solid rgba($primary, .2);

  &--current {
    color: $absolute-white;
    background-image: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    border-image-source: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    border-image-slice: 1;
  }
}

.faq__content-list {
  margin: 0;
  padding: 0;
}

.faq__content-item {
  position: relative;
  text-align: left;
  border-top: 1px solid $primary;
  list-style: none;
  padding: 20px 0 20px 0;

  h3 {
    max-width: 238px;
    @include title(20px,400,100%);
    margin: 0;
  }

  p {
    width: 238px;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    margin: 20px 0 0 0;
  }

  &:last-child {
    border-bottom: 1px solid $primary;
  }
}




.faq__accordion-button {
  position: absolute;
  top: 25px;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $primary;
  border-radius: 100%;
  background-color: transparent;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 7px;
    width: 14px;
    height: 1px;
    background-color: $primary;
  }

  &::after {
    transform: rotate(90deg);
  }

  &--active {
    background-color: $primary;

    &::before,
    &::after {
      background-color: $absolute-white;
    }

    &::after {
      transform: none;
    }
  }

  &--crct-position {
    top: 35px;
  }
}
