.games {
  padding-top: 25px;
  padding-bottom: 25px;

  @include vp-768 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include vp-1366 {
    padding: 100px 0 100px 0;
  }
}

.games__wrap-elements {
  background-color: $red-01;

  @include vp-768 {
    display: flex;
  }
}
.games__title {
  @include title(48px,600,112%);
  font-family: $primary-font;
  color: $absolute-white;
  margin: 0;

  @include vp-1366 {
    font-size: 82px;
    line-height: 117%;
  }
}

.games__data-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  padding: 40px;

  @include vp-1366 {
    padding: 60px 80px 98px 80px;
    align-items: flex-start;
  }
}

.games__text-wrap {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 5px;
  width: 56px;
  margin: 0;
  color:$absolute-white;

  @include vp-768 {
    justify-self: flex-start;
    gap: 10px;
    width: 100px;
    margin-left: 10px;
  }

  @include vp-1366 {
    margin-left: 77px;
    width: 95px;
    gap: 18px;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include vp-768 {
      gap: 4px;
    }

    @include vp-1366 {
      gap: 13px;
    }
  }
  dd {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 4px;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;


    @include vp-768 {
      align-items: center;
      gap: 5px;
    }

    @include vp-1366 {
      font-size: 40px;
    }
  }
}

.games__description-title {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;

  @include vp-768 {
    font-size: 18px;
    line-height: 133%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: $absolute-white;

    @include vp-768 {
      bottom: -2px;
    }

    @include vp-1366 {
      bottom: -6px;
    }
  }
}

.games__text-element-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  @include vp-768 {
    font-size: 14px;
    line-height: 157%;
  }

  @include vp-1366 {
    line-height: 24px;
    margin: -4px 0 0px 0px;
  }
}

.games__description {
  grid-column: 1 / -1;
  font-weight: 300;
  font-size: 16px;
  line-height: 127%;
  color: $absolute-white;
  margin: 16px 0 16px 0;

  @include vp-768 {
    font-size: 18px;
    line-height: 133%;
    margin: 10px 0 10px 0;
  }

  @include vp-1366 {
    margin: 28px 0 31px 0;
  }
}
.games__link {
  grid-column: 1 / -1;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;

  @include vp-768 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.games__image {
  display: block;
}
