.hero {
  background: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
}

.hero__inner-wrap {
  padding-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .hero__inner-wrap{
    padding-bottom: 93px;
  }
}

.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 16px 0;
  margin: 0px 0 49px 0;
}

@media (min-width: $tablet-width) {
  .hero__header {
    padding: 30px 0 30px 0;
    margin: 0;
  }
}

.hero__logo {
  display: inline-flex;
}

@media (min-width: $tablet-width) {
  .hero__logo svg {
    width: 110px;
    height: 22px;
  }
}

.hero__tel-link {
  display: block;
  width: 149px;
  color: $absolute-white;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
}

@media (min-width: $tablet-width) {
  .hero__tel-link {
    font-size: 24px;
    width: auto;
  }
}

.hero__paragraph {
  color: $absolute-white;
  margin: 0 0 14px;
  @include title(32px,600,100%);
  font-family: $primary-font;
  align-self: flex-end;
  justify-self: flex-end
}

@media (min-width: $tablet-width) {
  .hero__paragraph {
    margin: 0 1px 10px 0px;
    font-size: 42px;
  }
}

.hero__title {
  @include title(62px,800,100%);
  font-family: $primary-font;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: $absolute-white;
  margin: 0 -2px 0px 0px;
}

@media (min-width: $tablet-width) {
  .hero__title {
    font-size: 72px;
    line-height: 118%;
    margin: 0;
    letter-spacing: 0.024em;
  }
}

.hero__text-area-wrap {
  display: grid;
  grid-template-columns: repeat(2, auto);
  text-align: right;
  justify-content: space-between;

}

@media (min-width: $tablet-width) {
  .hero__text-area-wrap {
    width: 325px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 0;
    align-items: end;
  }
}

.hero__list {
  min-width: 113px;
  padding: 0;
  margin: 0;
  align-self: end;

  @include vp-768 {
    height: 66px;
    margin-bottom: 24px;
  }
}

.hero__right-wrap {
  @include vp-768 {
    margin-top: -6px;
  }
}


.hero__item {
  list-style: none;
  color: $absolute-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;

  &--mrg-bottom {
    @include vp-768 {
      margin-bottom: 4px;
    }
  }
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  margin-top: 48px;
  grid-column: 1 / -1;
}

@media (min-width: $tablet-width) {
  .hero__link {
    width: 185px;
    grid-column: 2 / -1;
    align-self: start;
    justify-self: end;
    margin-right: 1px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.hero__image-wrap {
  display: none;
}

@media (min-width: $tablet-width) {
  .hero__image-wrap {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .hero__content {
    display: flex;
    justify-content: space-between;
  }
}
