.main-footer__inner-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $footer-color;

  @include vp-768 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @include vp-1366 {
    padding: 33px 0 35px 0;
  }
}

.main-footer__content {
  @include vp-768 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo {
  display: inline-flex;
  margin: 0 0 28px 0;

  svg {
    @include vp-768 {
      width: 110px;
      height: 22px;
    }

    @include vp-1366 {
      width: 130px;
      height: 36px;
    }
  }

  @include vp-768 {
    margin: 0;
  }
}

.main-footer__list {
  margin: 0 0 29px 0;
  padding: 0;
  display: flex;
  gap: 36px;
  row-gap: 18px;
  flex-wrap: wrap;

  @include vp-768 {
    gap: 30px;
    margin: 0;
  }

  @include vp-1366 {
    gap: 82px;
  }
}

.main-footer__item {
  list-style: none;
}

.main-footer__link {
  font-weight: 400;
  line-height: 143%;
  color: $absolute-white;
  text-decoration: none;

  @include vp-1366 {
    line-height: 157%;
  }
}
.main-footer__list-social {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;

  @include vp-768 {
    gap: 15px;
    align-items: center;
    line-height: 157%;
  }

  @include vp-1366 {
    gap: 10px;
  }
}
.main-footer__item-social {
  list-style: none;
}
.main-footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: $absolute-white;
  border-radius: 100%;
}
