.offers {
  padding: 40px 0 40px 0;

  @include vp-768 {
    padding: 60px 0 60px 0;
  }

  @include vp-1366 {
    padding: 100px 0 100px 0;
  }
}

.offers__inner-wrap {
  text-align: center;
  width: 100%;
  padding: 0;


  @include vp-768 {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include vp-1366 {

  }
}

.offers__content-wrap {
  width: 100%;

  @include vp-768 {
    width: 678px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  @include vp-1366 {
    width: 1160px;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }
}

.offers__promo-wrap {
  background-color: $red-01;

  @include vp-768 {
    width: 678px;
    display: flex;
    justify-content: center;
  }

  @include vp-1366 {
    width: 560px;
  }
}

.offers__title {
  @include title (32px,600,101%);
  font-family: $primary-font;
  margin: 0 0 40px 0;

  @include vp-768 {
    font-size: 42px;
    margin: 0 0 35px 0;
    grid-column: 1 / -1;
    text-align: center;
  }

  @include vp-1366 {
    font-size: 54px;
    margin: 0 0 70px 0;
  }
}

.offers__text-area {
  padding: 30px 0 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $absolute-white;

  h3 {
    margin: 0 0 9px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;

    @include vp-768 {
      font-size: 24px;
      margin: 0 0 20px 1px;
    }
  }
  span {
    margin: 0 0 28px 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;

    @include vp-768 {
      margin: 0 0 40px 0px;
      font-size: 70px;
    }
  }
  p {
    width: 260px;
    margin: 0 0 28px 0;
    font-size: 16px;
    line-height: 125%;

    @include vp-768 {
      width: auto;
      margin: 0 0 auto 0;
      font-size: 18px;
      line-height: 133%;
      text-align: left;
    }
  }

  @include vp-768 {
    align-items: flex-start;
    padding: 40px 46px;
    justify-content: flex-start;
  }
}

.offers__link {
  position: relative;
  display: inline-block;
  font-weight: 700;
  line-height: 100%;
  color: $absolute-white;
  text-transform: uppercase;
  text-decoration: none;

  @include vp-768 {
    padding-bottom: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $absolute-white;
    bottom: -6px;
    left: 0;

    @include vp-768 {
      bottom: 0px;
    }
  }
}

.offers__image {
  display: block;
  margin-bottom: 40px;

  @include vp-768 {
    margin: 0;
  }
}
.offers__list {
  margin: 0;
  padding: 0 15px;
  display: grid;
  row-gap: 30px;
  grid-template-columns: 1fr;

  @include vp-768 {
    grid-template-columns: repeat(2, 324px);
    padding: 0;
    justify-content: space-between;
    gap: 30px;
  }

  @include vp-1366 {
    grid-template-columns: repeat(1, auto);
    grid-column: 2 / -1;
    align-self: end;
  }
}
.offers__item {
  padding: 20px;
  list-style: none;
  border: 7px solid;
  border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 1;

  @include vp-768 {
    width: 324px;
    min-height: 188px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @include vp-1366 {
    width: 560px;
    min-height: 174px
  }

  h3 {
    @include title(22px,700,100%);
    margin: 0 0 20px 0;

    @include vp-768 {
      font-size: 26px;
      margin: 0 0 10px;
    }
  }
  p {
    margin: 0 0 18px 0;

    @include vp-768 {
      margin: 0 0 auto;
      font-size: 16px;
      line-height: 150%;
      text-align: left;
    }
  }
}


.offers__item-link {
  position: relative;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: $primary;

  @include vp-768 {
    display: inline-block;
    padding-bottom: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $primary;
    bottom: -3px;
    left: 0;

    @include vp-768 {
      bottom: 0;
    }
  }
}
