.reviews {
  padding: 42px 0 40px;

  @include vp-768 {
    padding: 60px 0;
  }

  @include vp-1366 {
    padding: 100px 0;
  }
}

.reviews__inner-wrap {
  padding: 0 40px;
  text-align: center;

  @include vp-768 {
    position: relative;
    padding: 0 134px;
  }

  @include vp-1366 {
    padding: 0 403px;
  }
}

.reviews__title {
  @include title(32px,600,100%);

  font-family: $primary-font;
  margin: 0 0 40px;

  @include vp-768 {
    font-size: 54px;
    margin: 0 0 34px;
  }

  @include vp-1366 {
    margin: 0 0 75px;
  }
}

.reviews__slider-wrap {
  @include vp-768 {
    position: relative;

    .button-slider {
      width: 105%;
      left: -16px;

      @include vp-1366 {
        width: 801px;
        left: 180px;
      }
    }
  }
}

.reviews__slider-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  color: $additional-white;
}

.reviews__slider-item {
  padding: 29px 25px;
  background-color: $additional-blue-02;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);


  @include vp-768 {
    gap: 40px;
    align-items: flex-start;
    padding: 40px 30px;
  }

  @include vp-1366 {
    width: 560px;
    padding: 60px;
    gap: 30px;
  }

  img {
    display: inline-flex;
    border-radius: 100%;
    margin-bottom: 3px;
  }

  h3 {
    @include title(18px,400,111%);

    margin: 0 0 17px;

    @include vp-768 {
      text-align: left;
      font-size: 22px;
      margin: 0 0 19px;
    }
  }

  p {
    width: 190px;
    margin: 0;

    @include vp-768 {
      text-align: left;
      width: 320px;
      font-size: 16px;
      line-height: 150%;
    }

    @include vp-1366 {
      width: 330px;
    }
  }
}

.reviews__text-wrap {
  br {
    @include vp-1366 {
      display: none;
    }
  }
}

.reviews__slider-list.swiper-wrapper {
  display: flex;
  justify-content: flex-start;
}

.reviews__slider-item.swiper-slide {
  display: flex;

  @include vp-768 {
    display: flex;
    flex-direction: row;
  }
}

.reviews__button-wrap {
  @include vp-768 {
    top: 64%;
    width: 712px;
    left: 28px;
  }

  @include vp-1366 {
    top: 67%;
    width: 800px;
    left: 283px;
  }
}
