body {
  font-family: $secondary-font, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 157%;
  margin: 0;
  color: $primary;
  background-color: $absolute-white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page__body {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
}

img {
  min-width: 100%;
  height: auto;
  object-fit: contain;
}
