/* здесь используйте глобальные переменные */
$absolute-white: #FFFFFF;
$absolute-black: #000000;
$additional-white: #F8F9FC;
$black-color: #030A1A;
$primary: #102654;
$additional-blue-01: #103AAE;
$additional-blue-02: #1C3374;
$red-01: #ED0233;
$red-02: #D10A42;
$error-color: #FF121F;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
