/* здесь используйте глобальные переменные */
$absolute-white: #ffffff;
$absolute-black: #000000;
$additional-white: #f8f9fc;
$footer-color: #030a1a;
$primary: #102654;
$additional-blue-01: #103aae;
$additional-blue-02: #1c3374;
$red-01: #ed0233;
$red-02: #d10a42;
$error-color: #ff121f;
$transition: 0.3s ease;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;
